<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thymeleaf Page</title>
</head>
<body>
    <h1>Prima pagina Spring Web con Thymeleaf</h1>
    <p><span th:text="${valori}"></span> (<span th:text="${method}"></span>)</p>

    <div>
        <p><strong>Nome: </strong><span th:text="${firstname}"></span></p>
        <p><strong>Cognome: </strong><span th:text="${lastname}"></span></p>
    </div>
</body>
</html>